
  .Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }
  .Asset:hover {
    cursor: pointer;
  }

  .text {
    color: #83a5aa;
  }